<div class="modal-overlay">

    <div class="modal-content">
     <h2>Evento do dia {{@dia}}</h2>

     <p>aqui será exibido detalhes do dia do evento {{@dia}}, como:</p>
     <ul>
        <li><strong>Título:</strong>Assembleia geral</li>
        <li><strong>Horário:</strong>19h às 21h</li>
        <li><strong>Tipo:</strong>Reunião</li>
     </ul>

     <button type="button" {{on "click" this.fechar}}>Fechar</button>
    </div>
</div>
