<div class="container">

  <h2>CodeWise</h2>

  <h4>CodeWise é uma plataforma completa que centraliza a gestão de condomínios. <br /> Facilitando boletos,
    agendamentos, ocorrências e comunicados em um só lugar.
  </h4>
</div>


<div>



  <nav class="navbar">
    <ul>

      <li>
        <LinkTo @route="boletos">Boletos</LinkTo>
      </li>
      <li>
        <LinkTo @route="reservas">Reservas</LinkTo>
      </li>
      <li>
        <LinkTo @route="ocorrencias">Ocorrências</LinkTo>
      </li>
      <li>
        <LinkTo @route="comunicados">Comunicados</LinkTo>
      </li>
      <li>
        <LinkTo @route="financeiro">Financeiro</LinkTo>
      </li>
      <li>
        <LinkTo @route="moradores">Moradores</LinkTo>
      </li>
      <li>
        <LinkTo @route="agenda-do-sindico">Agenda do Síndico</LinkTo>
      </li>
      <li>
        <LinkTo @route="ordem-servico">Ordem de Serviço</LinkTo>
      </li>

      <li>
        <LinkTo @route="portaria">Portaria</LinkTo>
      </li>

      <li>
        <LinkTo @route="encomendas">Encomendas</LinkTo>
      </li>

      <li>
        <LinkTo @route="relatorios">Relatórios</LinkTo>
      </li>

      <li>
        <LinkTo @route="whatsapp">Enviar Mensagem</LinkTo>
      </li>

      <li>
        <LinkTo @route="funcionarios">Funcionários</LinkTo>
      </li>

    </ul>

    <button class="logout-button" {{on "click" this.logout}}>
        Sair
    </button>
  </nav>

</div>


